$ABBEY: #4e5259;
$ALABASTER: #fafafa;
$ALTO: #d6d6d6;
$BLACK: #000;
$DENIM: #155bcc;
$DOVE_GRAY: #6E6E6E;
$GRAY: #858585;
$MERCURY: #e5e5e5;
$SHAMROCK: #2fda7f;
$TORY_BLUE: #164fac;
$TUNDORA: #424242;
$WHITE: #fff;
$WILD_SAND: #F5F5F5;
